.env
.pem
.PEM
udemyDeploy.pem
*.pyc
flaskapp.wsgi
chefsCab.sqlite3
chefs-Cab.sqlite3
chefscabinet.sqlite3
chefs_cabinet.sqlite3
chefs_db.sqlite3
chefs_db_2.sqlite3
chefs_db_3.sqlite3
client_secret.json