/* 
LOGO - font-family: 'Caveat', cursive;
HEADINGS - font-family: 'Poppins', sans-serif;
SUBHEADINGS - font-family: 'Montserrat', sans-serif;
BODY TEXT - font-family: 'Roboto', sans-serif; 
*/

/* 
#F06060 - Logo
#F3B462 - Light Orange
#F2EBC0 - Background
#8DBFB3 - Pale Blue
#5D4C52 - PurpleBlack
*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: auto;
}

.nav-icon {
    max-width: 2rem;
    width: 100%;
    max-height: 2rem;
    min-width: 1rem;
    min-height: 1rem;
}

.header-h1 {
    min-width: 290px;
}