<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet admin page.">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="static/scripts/main.js"></script>
</head>
<body>
    {% include "header.html" %}
    <main>
        <h1>USERS</h1>
        {% for user in all_users %}
            <img class="user-profile" src="{{ user.profile_pic }}" alt="User Profile Image" loading="lazy">
            <p>{{user.username}} | {{user.lname}}, {{user.fname}} | {{ user.sign_up_date}}</p>
            <form action="{{ url_for('admin_delete_user', userID=user.id) }}" method="POST" name="deleteUser_{{ user.id }}">
                <input type="submit" value="Delete User">
            </form>
            <a href="{{ url_for('admin_edit_profile', userID = user.id) }}">EDIT {{ user.username }}</a>
            <hr>
        {% endfor %}
        <h1>RECIPES</h1>
        {% for recipe in all_recipes %}
        <p>{{recipe.title}} | {{recipe.user.username}}</p>
        <form action="{{ url_for('admin_delete_recipe', recipeID=recipe.id) }}" method="POST" name="deleteRecipeForm_{{ recipe.id }}">
            <input type="submit" value="Delete Recipe">
        </form>
        <hr>
        {% endfor %}  
    </main>

    {% include "footer.html" %}
</body>
</html>