<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet User Profile Home">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/card_flip.js"></script>
    <script defer src="/static/scripts/slide_show.js"></script>
    <script defer src="/static/scripts/follow.js"></script>
    <script defer src="/static/scripts/card_cookbook.js"></script>
    <script defer src="/static/scripts/loading.js"></script>

</head>
<body>
    {% include 'header.html' %}
    <main>
        {% include "messages.html" %}
        <div class="loader-container">
            <div class="spinner"></div>
            <p class="spinner-text">This may take up to one minute</p>
        </div>
        <div class="profile-header">
            <div class="user-intro">
                <img class="user-profile-pic" src="{{ cookbook.user.profile_pic }}" alt="Profile Pic" loading="lazy">
                <div>
                    <a href="{{ url_for('user_profile', userID = cookbook.user.id)}}"><h1>{{ cookbook.user.username }}</h1></a>
                    <a href="{{ url_for('user_profile', userID = cookbook.user.id)}}"><h3>{{ cookbook.user.fname }} {{ cookbook.user.lname }}</h3></a>
                </div>
                <form>
                    <input type="hidden" value="{{cookbook.user.id}}" id="userID">
                    <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                </form>
                {% if current_user.id in cookbook.user.followers | followers_ids %}
                    <button class="un-follow">Un-Follow</button>
                {% elif current_user.id != cookbook.user.id %}
                    <button class="follow">Follow</button>
                {% endif %}
            </div>           
        </div>
        <h1>{{cookbook.name}}</h1>
        {% if cookbook.recipes %}
            <form action="{{ url_for('generate_list') }}" method="POST" name="generate_list">
                <input type="hidden" value="{{ cookbook.id }}" name="id">
                <input type="submit" id="generate_shopping" value="Generate Shopping List (BETA)">
            </form>
        {% endif %}
        
        {% if current_user.id == cookbook.user.id %}
                <div>
                    <form action="{{ url_for('edit_cookbook', cookbookID=cookbook.id) }}" method="GET" name="editCookbookForm_{{ cookbook.id }}">
                        <input type="submit" value="Edit Cookbook">
                    </form>
                </div>
                <p class="hidden cookbook_id">{{cookbook.id}}</p>
                <p class="hidden current_user_id">{{current_user.id}}</p>
                <button class="delete_btn">Delete Cookbook</button> 
            {% endif %}
        <div class="recipe_feed">
            {% for recipe in cookbook.recipes %}
                {% include 'recipe_card.html' %}
            {% endfor %}
        </div>
    </main>
    {% include "footer.html" %}
</body>
</html>