<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet Edit User Profile">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/main.js"></script>
    <script defer src="/static/scripts/edit.js"></script>
    <!-- <script defer src="/static/scripts/save.js"></script> -->

</head>
<body>
    {% include "header.html" %}
    <main>
        <h1>Edit Recipe:</h1>
        {% if get_flashed_messages %}
                {% for message in get_flashed_messages() %}
                    <h4>{{ message | safe }}</h4>
                {% endfor %}
        {% endif %}
        <p>{{recipe.title}} <button class="edit_btn">Edit</button></p>
        <p>{{recipe.description}} <button class="edit_btn">Edit</button></p>
        <div class="ingredients">
            <h4>Ingredients:</h4>
            {% set ingredients = recipe.ingredients | custom_split %}
            <ul>
            {% for item in ingredients %}
                <li class="item">{{ item }} <button class="edit_btn">Edit</button><button class="delete_btn">Delete</button></li>
            {% endfor %}
            </ul>
            <button class="add_ingredient_btn">Add Ingredient</button>   
        </div>
        <div class="instructions">
            <h4>Instructions:</h4>
            {% set instructions = recipe.instructions | custom_split %}
            <ol>
            {% for step in instructions %}
                <li class="step">{{ step }} <button class="edit_btn">Edit</button><button class="delete_btn">Delete</button></li>
            {% endfor %}
            </ol>
            <button class="add_step_btn">Add Step</button>
        </div>
        <div>
            <div class="images">
                {% for image in recipe.media %}
                <div>
                    <img class="recipe-image" src="{{ image.img_url }}" alt="Recipe Image" loading="lazy"><button class="delete_btn">Delete</button>
                </div>
                {% endfor %}
            </div>
            <input type="file" name="image" id="image_up">
            <button class="add_image_btn">Add Image</button>
        </div>
        <button class="save_btn">Save</button>
    </main>
    {% include "footer.html" %}
</body>
</html>