<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet User Profile Home">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/main.js"></script>

</head>
<body>
    {% include "header.html" %}
    <main>
        <h1>Edit Profile:</h1>
        <form class="form" id="register" method="POST" action="{{ url_for('user_profile', userID = user.id) }}">
            <fieldset>
                <legend>Profile Information</legend>
                <label>First Name* <input type="text" name="fname" required autocomplete="given-name" value="{{ user.fname }}"></label>
                <label>Last Name* <input type="text" name="lname" required autocomplete="family-name" value="{{ user.lname }}"></label>
                <label>Email Address* <input type="email" name="email" required placeholder="chef@chefscabinet.com" value="{{ user.email }}"></label>
                <label>Username* <input type="text" name="username" required value="{{ user.username }}"></label>
            </fieldset>
            <input type="submit" value="Save Changes">
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>