<footer>
    <div>
        <p>Created by: Danny Ellis</p>
        <p>&copy; 2024 Chefs Cabinet</p>
    </div>
    <div id="footer-links">
        <a class="footer-link" href="https://www.linkedin.com/in/danny-ellis-02700635/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        <a class="footer-link" href="https://www.instagram.com/d5ellis/" target="_blank" rel="noopener noreferrer">Instagram</a>
        <a class="footer-link" href="https://www.facebook.com/danny.ellis.370" target="_blank" rel="noopener noreferrer">Facebook</a>
        <a class="footer-link" href="https://github.com/jorted-runner/wdd130" target="_blank" rel="noopener noreferrer">GitHub Repository</a>    
    </div>
</footer>