<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet home page. This serve as a landing page for Chefs Cabinet as well as the main recipe feed.">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="static/scripts/main.js"></script>
</head>
<body>
    {% include "header.html" %}
    <main>
        {% if not current_user.is_authenticated: %}
        <div class="about">
            <div class="what-is-cc">
                <h3>What is Chefs Cabinet?</h3>
                <p>
                    Chefs Cabinet stands as a vibrant hub for culinary enthusiasts, offering a unique and interactive recipe-sharing experience. Serving as the go-to platform for both novice and seasoned cooks, our site empowers users to seamlessly craft and share their favorite recipes. Leveraging the cutting-edge capabilities of Artificial Intelligence, Chefs Cabinet enables users to generate personalized recipes by inputting their available ingredients and specifying ingredients to avoid. Beyond the creation of delectable recipes, our advanced A.I. enhances each culinary masterpiece by generating visually appealing images to accompany every shared recipe on the site. Chefs Cabinet is set to redefine the way food enthusiasts connect, create, and inspire in the realm of online culinary exploration.
                </p>
            </div>
        </div>
        {% else %}
        <div class="recipe_feed">
            {% for recipe in all_recipes %}
        
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <div class="front-title-div">
                            <h2 class="front-title">{{ recipe.title | safe }}</h2>
                            <h3 class="front-user">{{ recipe.user.username | safe }}</h3>
                        </div>
                        <img class="recipe-img" src="{{ recipe.img_url }}" alt="Recipe Image" width="400" height="400" loading="lazy">
                        <div class="front-desc-div">
                            <p class="front-desc">{{recipe.description | safe}}</p>
                        </div>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="card_header">
                            <h2 class="back-title">{{ recipe.title | safe }}</h2>
                            <h3 class="front-user">{{ recipe.user.username | safe }}</h3>
                            <p class="recipe-desc">{{ recipe.description | safe }}</p>
                        </div>
                        <div class="card_body">
                            <div class="ingredients">
                                <h4>Ingredients:</h4>
                                {% set ingredients = recipe.ingredients | custom_split %}
                                <ul>
                                {% for item in ingredients %}
                                    <li>{{ item | safe }}</li>
                                {% endfor %}
                                </ul>   
                            </div>
                            <div class="instructions">
                                <h4>Instructions:</h4>
                                {% set instructions = recipe.instructions | custom_split %}
                                <ol>
                                {% for step in instructions %}
                                    <li>{{ step | safe }}</li>
                                {% endfor %}
                                </ol>
                            </div>
                        </div>
                        {% if current_user.id == recipe.user.id or recipe.user.username == "jorted-runner" %}
                        <div class="back_buttons">
                            <button class='card_btn' id="edit">Edit Recipe (not working yet)</button>
                            <form action="{{ url_for('delete_recipe', recipe_id=recipe.id) }}" method="POST" name="deleteRecipeForm_{{ recipe.id }}">
                                <input type="submit" value="Delete Recipe">
                            </form>
                        </div>    
                        {% endif %}
                    </div>
                </div>
            </div>
        
            <hr>
            {% endfor %}
        </div>
        {% endif %}
    </main>
    {% include "footer.html" %}
</body>
</html>