<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet login page.">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    <main>
        <h3>User Login</h3>
        {% include "messages.html" %}
        <form class="form" id="login" method="post" action="{{url_for('login')}}">
            <fieldset>
                <label>Email or Username <input type="text" name="email" id="email" required placeholder="chef@chefscabinet.com"></label>
                <label>Password <input type="password" name="password" id="password" required></label>
            </fieldset>
            <input type="submit" value="Login">
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>