<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet Main Feed. This page will be the main feed of new recipes submitted by users">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="static/images/favicon.ico">
    <link rel="stylesheet" href="static/styles/normalize.css">
    <link rel="stylesheet" href="static/styles/base.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <header class="flex">
        <a href="{{ url_for('home') }}"><h1 class="header-h1">Chefs Cabinet</h1></a>
    </header>
    {% include "navigation.html" %}
    <main>
        <section class="recipe-card front">
            <h1>Example Recipe</h1>
            <img src="#" alt="Place Holder IMG">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam sapiente laborum commodi, architecto quae maiores omnis in itaque ratione optio quasi sequi odio nemo? At!</p>
        </section>
    </main>
</body>
</html>