<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Recipe</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet New Recipe Page. This page allows users to create a new recipe.">
    <meta property="og:title" content="Chefs Cabinet New Recipe">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/recipe_type.js"></script>
</head>
<body>
    {% include "header.html" %}
    <div class="loader-container">
        <div class="spinner"></div>
        <p class="spinner-text">This may take up to one minute</p>
    </div>
    {% include "messages.html" %}
    <main>
        <form class="form">
            <label for="recipeType">Recipe Type</label>
            <select name="recipeType" id="recipeType">
                <option value="">Select a Recipe Type</option>
                <option value="aiAssisted">A.I. Assisted</option>
                <option value="blankRecipe">Blank Recipe</option>
            </select>
        </form>
        <form class="ai-recipe form hidden">
            <h1>Ingredients to Include</h1>
            <label for="newInclude">New Ingredient: <input type="text" id="newInclude" placeholder="Seedless Grapes"></label>
            <button type="button" id="addInclude">Add</button>
            <ul id="include"></ul>
            <hr>
            <h1>Ingredients to Exclude</h1>
            <label for="newExclude">New Ingredient: <input type="text" id="newExclude" placeholder="Gluten"></label>
            <button type="button" id="addExclude">Add</button>
            <ul id="exclude"></ul>
            <button type="button" id="generateRecipeBTN">Generate Recipe</button>
        </form>
        <form class="blank-recipe form hidden">
            <label for="recipeTitle">Recipe Title: <input type="text" placeholder="Creamy Chicken Noodle Soup" id="recipeTitle"></label>
            <label for="recipeDesc">Recipe Description: <input type="text" placeholder="Creamy Chicken Noodle Soup that will heal all your sicknesses." id="recipeDesc"></label>
            <h1>Ingredients</h1>
            <label for="newIngredient">New Ingredient: <input type="text" id="newIngredient" placeholder="Seedless Grapes"></label>
            <button type="button" id="addIngredient">Add</button>
            <ul id="ingredients"></ul>
            <hr>
            <h1>Instructions</h1>
            <label for="newStep">Next Step: <input type="text" id="newStep" placeholder="Mix Dry Ingredients in a Bowl"></label>
            <button type="submit" id="addStep">Add</button>
            <ol id="instructions"></ol>
            <button type="button" id="imageGenBTN">Generate Image</button>
        </form>
        <div class="display-recipe hidden"></div>
    </main>
    {% include "footer.html" %}
</body>
</html>