<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet User Profile Home">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/card_flip.js"></script>
    <script defer src="/static/scripts/slide_show.js"></script>
    <script defer src="/static/scripts/follow.js"></script>
    <script defer src="/static/scripts/recipe-cookbook.js"></script>
    <script defer src="/static/scripts/cookbook.js"></script>
    <script defer src="/static/scripts/show_follow.js"></script>

</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><h1 class="header-h1">Chefs Cabinet</h1></a>
        <nav>
            {% if not current_user.is_authenticated: %}
                <ul class="primary-navigation">
                    <li><a href="{{ url_for('home')}}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            {% else: %}
                <ul class="primary-navigation">
                    <li><a href="{{ url_for('home') }}"><img src="/static/images/home.svg" alt="Home Icon" class="nav-icon"></a></li>
                    <li><a href="{{ url_for('search') }}"><img src="/static/images/search-icon.svg" alt="Search Icon" class="nav-icon"></a></li>
                    <li><a href="{{ url_for('new_recipe') }}"><img src="/static/images/plus-icon.svg" alt="New Recipe Icon" class="nav-icon"></a></li>
                    <li><a href="{{ url_for('user_profile', userID = current_user.id)}}"><img src="/static/images/temp-profile-icon.svg" alt="Profile Icon" class="nav-icon"></a></li>
                    {% if current_user.id == user.id %}
                        <li><a href="{{ url_for('edit_profile', userID = user.id) }}"><img src="/static/images/settings.svg" alt="Settings Icon" class="nav-icon"></a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            {% endif %}  
        </nav>
    </header>
    <main>
        {% include "messages.html" %}
        <div class="profile-header">
            <div class="user-intro">
                <img class="user-profile-pic" src="{{ user.profile_pic }}" alt="Profile Pic" loading="lazy">
                <div>
                    <h1>{{ user.username }}</h1>
                    <h3>{{ user.fname }} {{ user.lname }}</h3>
                </div>
            </div> 
            <div class="follower-info">
                <table>
                    <thead>
                        <tr>
                            <td>Following</td>
                            <td>Followers</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td id="following">{{user.following | length }}</td>
                            <td id="followers">{{user.followers | length }}</td>
                        </tr>
                    </tbody>
                </table>
                <form>
                    <input type="hidden" value="{{user.id}}" id="userID">
                    <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                </form>
                {% if current_user.id in user.followers | followers_ids %}
                    <button class="un-follow">Un-Follow</button>
                {% elif current_user.id != user.id %}
                    <button class="follow">Follow</button>
                {% endif %}
            </div>
            <div class="buttons">
                {% if user.cookbooks %}
                    <button id="recipes">Recipes</button>
                    <button id="cookbooks">Cookbooks</button>
            {% endif %}  
            </div>
        </div>
        <div class="overlay_follow"></div>
        <div class="followers hidden display_fol_cards">
            {% set followers = user.followers | get_follower_data %}
            {% if followers %}
                {% for follower in followers %}
                    <div class="follower-card">
                        <img class="user-profile-pic follower-card-profile" src="{{ follower.profile_pic }}" alt="Profile Pic" loading="lazy">
                        <div>
                            <h3>{{follower.username}}</h3>
                            <p>{{follower.fname}} {{follower.lname}}</p>
                        </div>
                        <form>
                            <input type="hidden" value="{{follower.id}}" id="userID">
                            <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                        </form>
                        {% if current_user.id in follower.followers | followers_ids %}
                            <button class="un-follow">Un-Follow</button>
                        {% elif current_user.id != follower.id %}
                            <button class="follow">Follow</button>
                        {% endif %}
                    </div>
                {%endfor %}
            {% else %}
            <div class="follower-card">
                <h1>{{ user.username }} has no followers to display.</h1>
            </div>
            {% endif %}
        </div>
        <div class="following hidden display_fol_cards">
            {% set following = user.following | get_following_data %}
            {% if following %}
                {% for follower in following %}
                    <div class="follower-card">
                        <img class="user-profile-pic follower-card-profile" src="{{ follower.profile_pic }}" alt="Profile Pic" loading="lazy">
                        <div>
                            <h3>{{follower.username}}</h3>
                            <p>{{follower.fname}} {{follower.lname}}</p>
                        </div>
                        <form>
                            <input type="hidden" value="{{follower.id}}" id="userID">
                            <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                        </form>
                        {% if current_user.id in follower.followers | followers_ids %}
                            <button class="un-follow">Un-Follow</button>
                        {% elif current_user.id != follower.id %}
                            <button class="follow">Follow</button>
                        {% endif %}
                    </div>
                {%endfor %}
                {% else %}
                <div class="follower-card">
                    <h1>{{user.username}} is not following anyone.</h1>
                </div>
                {% endif %}
        </div>
        <div class="recipe_feed profile_feed">
            {% for recipe in all_recipes %}
                {% include 'recipe_card.html' %}
            {% endfor %}
        </div>
        <div class="cookbook_feed hidden">
            {% for cookbook in (user.cookbooks | date_sort) %}
                {% if cookbook.status == True or (current_user.id == cookbook.user_id or current_user.is_admin) %}
                <a href="{{ url_for('cookbook', cookbookID=cookbook.id) }}">
                    <div class="cookbook-card">
                        <h1>{{cookbook.name}}</h1>
                        {% if cookbook.status == False %}
                            <p>Private Cookbook - Only visible to you</p>
                        {% endif %}
                        <img class="cookbook-img" src="{{ cookbook.cover_img }}" alt="Cookbook Cover Image" loading="lazy">
                    </div>
                </a>
                                        
                {% endif %}
            {% endfor %}
        </div>
        
    </main>
    {% include "footer.html" %}
</body>
</html>