<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet User Profile Home">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/main.js"></script>

</head>
<body>
    <header>
        <a href="{{ url_for('home') }}"><h1 class="header-h1">Chefs Cabinet</h1></a>
        <nav>
            {% if not current_user.is_authenticated: %}
                <ul class="primary-navigation">
                    <li><a href="{{ url_for('home')}}">Home</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                </ul>
            {% else: %}
                <ul class="primary-navigation">
                    <li><a href="{{ url_for('home') }}"><img src="/static/images/home.svg" alt="Home Icon" class="nav-icon"></a></li>
                    <li><a href="{{ url_for('search') }}"><img src="/static/images/search-icon.svg" alt="Search Icon" class="nav-icon"></a></li>
                    <li><a href="{{ url_for('new_recipe') }}"><img src="/static/images/plus-icon.svg" alt="New Recipe Icon" class="nav-icon"></a></li>
                    <li><a href="{{ url_for('user_profile', userID = current_user.id)}}"><img src="/static/images/temp-profile-icon.svg" alt="Profile Icon" class="nav-icon"></a></li>
                    {% if current_user.id == user.id %}
                        <li><a href="{{ url_for('edit_profile', userID = user.id) }}"><img src="/static/images/settings.svg" alt="Settings Icon" class="nav-icon"></a></li>
                    {% endif %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                </ul>
            {% endif %}  
        </nav>
    </header>
    <main>
        <h1>{{ user.username }}</h1>
        <h3>{{ user.fname }} {{ user.lname }}</h3>
        <div class="recipe_feed">
            {% for recipe in all_recipes %}
            <div class="card">
                <div class="card__inner">
                    <div class="card__face card__face--front">
                        <div class="front-title-div">
                            <h2 class="front-title" id="recipe_{{ recipe.id }}">{{ recipe.title }}</h2>
                            <p class="front-user"><a href="{{ url_for('user_profile', userID = recipe.user.id)}}">{{ recipe.user.username }}</a></p>
                            {% if recipe.reviews %}
                                <p class="front-review">{{ recipe.reviews | avg_rating }} ({{ recipe.reviews | length }})</p>
                            {% endif %}
                        </div>
                        <img class="recipe-img" src="{{ recipe.img_url }}" alt="Recipe Image" loading="lazy">
                        <div class="front-desc-div">
                            <p class="front-desc">{{recipe.description }}</p>
                        </div>
                    </div>
                    <div class="card__face card__face--back">
                        <div class="close-icon">&times;</div>
                        <div class="card_header">
                            <h2 class="back-title">{{ recipe.title }}</h2>
                            <h3 class="front-user"><a href="{{ url_for('user_profile', userID = recipe.user.id)}}">{{ recipe.user.username }}</a></h3>
                            <p class="recipe-desc">{{ recipe.description }}</p>
                        </div>
                        <div class="card_body">
                            <div class="ingredients">
                                <h4>Ingredients:</h4>
                                {% set ingredients = recipe.ingredients | custom_split %}
                                <ul>
                                {% for item in ingredients %}
                                    <li>{{ item }}</li>
                                {% endfor %}
                                </ul>   
                            </div>
                            <div class="instructions">
                                <h4>Instructions:</h4>
                                {% set instructions = recipe.instructions | custom_split %}
                                <ol>
                                {% for step in instructions %}
                                    <li>{{ step }}</li>
                                {% endfor %}
                                </ol>
                            </div>
                            {% if current_user.id == recipe.user.id %}
                            <div class="back_buttons">
                                <button class='card_btn' id="edit">Edit Recipe (not working yet)</button>
                                <form action="{{ url_for('delete_recipe', recipe_id=recipe.id, userID = current_user.id) }}" method="POST" name="deleteRecipeForm_{{ recipe.id }}">
                                    <input type="submit" value="Delete Recipe">
                                </form>
                            </div>    
                            {% endif %}
                            {% if recipe.comments %}
                                <h3 id="comments_{{ recipe.id }}">Comments</h3>
                                {% for comment in recipe.comments[-5:] %}
                                    <p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
                                {% endfor %}
                            {% endif %}
                            <div class="reviews" id="reviewDiv">
                                {% if recipe.reviews %}
                                    <h3>Reviews</h3>
                                    {% for review in recipe.reviews[-5:] %}
                                        <p><strong>{{ review.user.username }}</strong> {{ review.rating }} {{ review.review }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <form action="{{ url_for('view_recipe', recipeID=recipe.id) }}" method="GET" name="seeMore_{{ recipe.id }}">
                                <input type="submit" value="See More">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        
            <hr>
            {% endfor %}
        </div>
    </main>
    {% include "footer.html" %}
</body>
</html>