<div class="card">
    <div class="card__inner">
        <div class="card__face card__face--front">
            <div class="overlay"></div>
            <div class="cookBook-Info card-cookbook-Info hidden">
                <form class="cookbook-form form" id="add-cookbook" method="POST" action="{{url_for('add_cookbook')}}">
                    <label for="cookbook">Cook Book</label>
                    <select name="cookbook" id="cookbook">
                        <option value="">Select a Cook Book</option>
                        <option value="new">New Cook Book</option>
                        {% for cookbook in current_user.cookbooks %}
                            <option value="{{ cookbook.id }}">{{ cookbook.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="hidden" value="{{current_user.id}}" name="userID">
                    <input type="hidden" value="{{recipe.id}}" name="recipeID">
                    <input type="submit" value="Add">
                </form>
            </div>
            <div class="front-title-div">
                <form>
                    <input type="hidden" value="{{recipe.user.id}}" id="userID">
                    <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                </form>
                <h2 class="front-title" id="recipe_{{ recipe.id }}">{{ recipe.title }}</h2>
                <div class="card-user-info">
                    <a href="{{ url_for('user_profile', userID = recipe.user.id)}}"><img class="card-profile-pic" src="{{ recipe.user.profile_pic }}" alt="Profile Pic" loading="lazy"></a>
                    <div class="user">
                        <p class="front-user"><a href="{{ url_for('user_profile', userID = recipe.user.id)}}">{{ recipe.user.username }}</a></p>
                        {% if current_user.id != recipe.user.id and current_user.id not in recipe.user.followers | followers_ids %}
                            <button class="follow follow-btn">Follow</button>
                        {% endif %}
                    </div>
                    
                    
                </div>
                <div class="review-save">
                    {% if recipe.reviews %}
                        <p class="front-review">{{ recipe.reviews | avg_rating }} ({{ recipe.reviews | length }})</p>
                    {% endif %}
                    <!-- button is hidden until I can sort out the image glitch -->
                    <button class="addRecipe-btn hidden">Add to Cook Book</button>  
                </div>
                
            </div>
            {% for media in recipe.media %}
            <div class="mySlides fade">
                <div class="numbertext">{{ loop.index }} / {{ recipe.media | length }}</div>
                <img class="recipe-img slideImg" src="{{ media.img_url }}" alt="Recipe Image" loading="lazy">
            </div>
            {% endfor %}
            <a class="prev" onclick="plusSlides(this.parentNode.parentNode, -1)">&#10094;</a>
            <a class="next" onclick="plusSlides(this.parentNode.parentNode, 1)">&#10095;</a>

            <div class="media-text">
                {% for media in recipe.media %}
                    <span class="dot" onclick="currentSlide(this.parentNode.parentNode, '{{ loop.index }}')"></span>
                {% endfor %}
            </div>
            <div class="front-desc-div">
                <p class="front-desc">{{recipe.description }}</p>
            </div>
        </div>
        <div class="card__face card__face--back">
            <div class="close-icon">&times;</div>
            <div class="front-title-div">
                <form>
                    <input type="hidden" value="{{recipe.user.id}}" id="userID">
                    <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                </form>
                <h2 class="front-title" id="recipe_{{ recipe.id }}">{{ recipe.title }}</h2>
                <div class="card-user-info">
                    <a href="{{ url_for('user_profile', userID = recipe.user.id)}}"><img class="card-profile-pic" src="{{ recipe.user.profile_pic }}" alt="Profile Pic" loading="lazy"></a>
                    <p class="front-user"><a href="{{ url_for('user_profile', userID = recipe.user.id)}}">{{ recipe.user.username }}</a></p>
                </div>
                
                {% if recipe.reviews %}
                    <p class="front-review">{{ recipe.reviews | avg_rating }} ({{ recipe.reviews | length }})</p>
                {% endif %}
            </div>
            <div class="front-desc-div">
                <p class="front-desc">{{recipe.description }}</p>
            </div>
            <div class="card_body">
                <div class="ingredients">
                    <h4>Ingredients:</h4>
                    {% set ingredients = recipe.ingredients | custom_split %}
                    <ul>
                    {% for item in ingredients %}
                        <li>{{ item }}</li>
                    {% endfor %}
                    </ul>   
                </div>
                <div class="instructions">
                    <h4>Instructions:</h4>
                    {% set instructions = recipe.instructions | custom_split %}
                    <ol>
                    {% for step in instructions %}
                        <li>{{ step }}</li>
                    {% endfor %}
                    </ol>
                </div>
                {% if current_user.id == recipe.user.id %}
                <div class="back_buttons">
                    <form action="{{ url_for('edit_recipe', recipeID=recipe.id, userID = current_user.id ) }}" method="GET" name="editRecipeForm_{{ recipe.id }}">
                        <input type="submit" value="Edit Recipe">
                    </form>
                    <form action="{{ url_for('delete_recipe', recipe_id=recipe.id, userID = current_user.id ) }}" method="POST" name="deleteRecipeForm_{{ recipe.id }}">
                        <input type="submit" value="Delete Recipe">
                    </form>
                </div>    
                {% endif %}
                {% if recipe.comments %}
                    <h3 id="comments_{{ recipe.id }}">Comments</h3>
                    {% for comment in recipe.comments[-5:] %}
                        <p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
                    {% endfor %}
                {% endif %}
                <div class="reviews" id="reviewDiv">
                    {% if recipe.reviews %}
                        <h3>Reviews</h3>
                        {% for review in recipe.reviews[-5:] %}
                            <p><strong>{{ review.user.username }}</strong> {{ review.rating }} {{ review.review }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <form action="{{ url_for('view_recipe', recipeID=recipe.id) }}" method="GET" name="seeMore_{{ recipe.id }}">
                    <input type="submit" value="See More">
                </form>
            </div>
        </div>
    </div>
</div>