<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet home page. This serve as a landing page for Chefs Cabinet as well as the main recipe feed.">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}
    <main>
        <h3>User Registration</h3>
        {% if get_flashed_messages %}
                {% for message in get_flashed_messages() %}
                    <h4>{{ message | safe }}</h4>
                {% endfor %}
        {% endif %}
        <form class="form" id="register" method="post" action="{{url_for('register')}}">
            <fieldset>
                <legend>Registration Information</legend>
                <label>First Name* <input type="text" name="fname" required autocomplete="given-name"></label>
                <label>Last Name* <input type="text" name="lname" required autocomplete="family-name"></label>
                <label>Email Address* <input type="email" name="email" required placeholder="chef@chefscabinet.com"></label>
                <label>Username* <input type="text" name="username" required></label>
                <label>Password* <input type="password" name="password" required></label>
            </fieldset>
            <input type="submit" value="Register">
        </form>
    </main>
    {% include "footer.html" %}
</body>
</html>