<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet Results</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet search page.">
    <meta property="og:title" content="Chefs Cabinet">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/card_flip.js"></script>
    <script defer src="/static/scripts/slide_show.js"></script>
</head>
<body>
    {% include "header.html" %}
    <main>
        <div class="recipe_feed">
            {% if searchTerm %}
                <h1>Search Results: {{searchTerm}}</h1>
            {% else %}
                <h1>Search Results</h1>
            {% endif %}
            <form class="form" id="search" method="POST" action="{{ url_for('search') }}">
                {% if searchTerm %}
                    <label class="search-container">
                        <input class="searchInput" type="text" name="searchTerm" required value="{{ searchTerm }}">
                        <input type="image" src="/static/images/search-icon.svg" alt="Search" class="search-button">
                    </label>
                {% else %}
                    <label class="search-container">
                        <input class="searchInput" type="text" name="searchTerm" required>
                        <input type="image" src="/static/images/search-icon.svg" alt="Search" class="search-button">
                    </label>
                {% endif %}
            </form>
            {% if users %}
                <h2>Users Found:</h2>
                {% for user in users %}
                    <h3><a href="{{ url_for('user_profile', userID = user.id)}}">{{ user.username }}</a></h3>
                {% endfor %}
            {% endif %}
            {% if results %}
                <hr>
                <h2>Recipes Found:</h2>
                {% for recipe in results %}
                    {% include 'recipe_card.html' %}
                {% endfor %}
            </div>
            {% endif %}
    </main>
    {% include "footer.html" %}
</body>
</html>