<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chefs Cabinet | {{ recipe.title }}</title>
    <meta name="author" content="Danny Ellis">
    <meta name="description" content="Chefs Cabinet | {{ recipe.title }} | {{recipe.description }}">
    <meta property="og:title" content="Chefs Cabinet | {{ recipe.title }}">
    <link rel="icon" href="/static/images/favicon.ico">
    <link rel="stylesheet" href="/static/styles/normalize.css">
    <link rel="stylesheet" href="/static/styles/base.css">
    <link rel="stylesheet" href="/static/styles/small.css">
    <link rel="stylesheet" href="/static/styles/medium.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Montserrat&family=Poppins:ital,wght@1,500&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <script defer src="/static/scripts/view_slides.js"></script>
    <script defer src="/static/scripts/follow.js"></script>
    <script defer src="/static/scripts/cookbook.js"></script>
</head>
<body>
    {% include "header.html" %}
    <main>
        {% include "messages.html" %}

        <div class="overlay"></div>

        <div class="cookBook-Info card-cookbook-Info hidden">
            <form class="cookbook-form form" id="add-cookbook" method="POST" action="{{url_for('add_cookbook')}}">
                <label for="cookbook">Cook Book</label>
                <select name="cookbook" id="cookbook">
                    <option value="">Select a Cook Book</option>
                    {% for cookbook in current_user.cookbooks | date_sort %}
                        <option value="{{ cookbook.id }}">{{ cookbook.name }}</option>
                    {% endfor %}
                    <option value="new">- NEW COOKBOOK -</option>
                </select>
                <input type="hidden" value="{{current_user.id}}" name="userID">
                <input type="hidden" value="{{recipe.id}}" name="recipeID">
                <input type="submit" value="Add">
            </form>
        </div>
        <div class="recipe">
            <div class="slideshow-container">
                {% for image in recipe.media %}
                <div class="mySlides fade">
                    <div class="numbertext">{{ loop.index }} / {{ recipe.media | length }}</div>
                    <img src="{{image.img_url}}" class="slideImg" alt="Recipe Image">
                </div>
                {% endfor %}
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>

                <div class="media-text">
                    {% for media in recipe.media %}
                        <span class="dot" onclick="currentSlide(this.parentNode.parentNode, '{{ loop.index }}')"></span>
                    {% endfor %}
                </div>
            </div>
            <div class="front-title-div view-title-div">
                <form>
                    <input type="hidden" value="{{recipe.user.id}}" id="userID">
                    <input type="hidden" value="{{current_user.id}}" id="currentUserID">
                </form>
                <h2 class="front-title" id="recipe_{{ recipe.id }}">{{ recipe.title }}</h2>
                <div class="card-user-info">
                    <a href="{{ url_for('user_profile', userID = recipe.user.id)}}"><img class="card-profile-pic" src="{{ recipe.user.profile_pic }}" alt="Profile Pic" loading="lazy"></a>
                    <p class="front-user"><a href="{{ url_for('user_profile', userID = recipe.user.id)}}">{{ recipe.user.username }}</a></p>
                    {% if current_user.id != recipe.user.id and current_user.id not in recipe.user.followers | followers_ids %}
                        <button class="follow follow-btn">Follow</button>
                    {% endif %}
                </div>
                <div class="review-save">
                    {% if recipe.reviews %}
                        <p class="front-review">{{ recipe.reviews | avg_rating }} ({{ recipe.reviews | length }})</p>
                    {% endif %}
                    <button class="addRecipe-btn">Add to Cook Book</button>   
                </div>
            </div>
                <div class="recipe-info">
                    <p class="desc">{{recipe.description }}</p>
                    <div class="view-ingredients">
                        <h4>Ingredients:</h4>
                        {% set ingredients = recipe.ingredients | custom_split %}
                        <ul>
                        {% for item in ingredients %}
                            <li>{{ item }}</li>
                        {% endfor %}
                        </ul>   
                    </div>
                    <div class="view-instructions">
                        <h4>Instructions:</h4>
                        {% set instructions = recipe.instructions | custom_split %}
                        <ol>
                        {% for step in instructions %}
                            <li>{{ step }}</li>
                        {% endfor %}
                        </ol>
                    </div>
                </div>                        
            <div class="view-comments" id="commentDiv">
                {% if recipe.comments %}
                    <h3>Comments</h3>
                    {% for comment in recipe.comments %}
                        <div>
                            <p><strong>{{ comment.user.username }}</strong> {{ comment.comment }}</p>
                        </div>
                    {% endfor %}
                {% endif %}
                <button id="commentBtn">Comment</button>
                <form action="{{ url_for('comment', userID=current_user.id, recipeID=recipe.id) }}#recipe_{{ recipe.id }}" method="POST" name="comment_{{ recipe.id }}" class="hiddenForm" id="commentForm">
                    <label>Comment <input type="text" name="comment" id="comment" required></label>
                    <input type="submit" value="Comment">
                </form>
            </div>
            
            <div class="view-reviews" id="reviewDiv">
                {% if recipe.reviews %}
                    <h3>Reviews</h3>
                    {% for review in recipe.reviews %}
                    <div>
                        <p><strong>{{ review.user.username }}</strong> {{ review.rating }} {{ review.review }}</p>
                    </div>
                    {% endfor %}
                {% endif %}
                <form action="{{ url_for('review', recipeID = recipe.id, userID = current_user.id) }}" method="POST" name="review_{{recipe.id}}" id="reviewForm" class="hiddenForm">
                    <label for="rating">Select Rating:</label>
                    <select id="rating" name="rating">
                        <option value="⭐">⭐</option>
                        <option value="⭐⭐">⭐⭐</option>
                        <option value="⭐⭐⭐">⭐⭐⭐</option>
                        <option value="⭐⭐⭐⭐">⭐⭐⭐⭐</option>
                        <option value="⭐⭐⭐⭐⭐">⭐⭐⭐⭐⭐</option>
                    </select>
                    <label>Review: <input type="textarea" name="review" id="review" required></label>
                    <input type="submit" value="Rate and Review">
                </form>
                <button id="reviewBtn">Rate and Review</button>
            </div>
            
        </div>
    </main>
    {% include "footer.html" %}
    <script src="/static/scripts/review.js"></script>
</body>
</html>