/* 
LOGO - font-family: 'Caveat', cursive;
HEADINGS - font-family: 'Poppins', sans-serif;
SUBHEADINGS - font-family: 'Montserrat', sans-serif;
BODY TEXT - font-family: 'Roboto', sans-serif; 
*/

/* 
#F06060 - Logo
#F3B462 - Light Orange
#F2EBC0 - Background
#8DBFB3 - Pale Blue
#5D4C52 - PurpleBlack
*/

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: auto;
}

.nav-icon {
    max-width: 2rem;
    width: 100%;
    max-height: 2rem;
    min-width: 1rem;
    min-height: 1rem;
}

.header-h1 {
    min-width: 290px;
}

hr {
    border-color: #F3B462;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #8DBFB3 transparent #8DBFB3 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.spinner-text {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #8DBFB3;
    position: fixed;
    top: 47.5%;
    z-index: 2;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    top: 0;
    left: 0;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card {
    margin: 25px auto 25px;
    width: 400px;
    height: 650px;
    perspective: 1000px;
}

.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    cursor: pointer;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-color: var(--light);
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
}
.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
    overflow: scroll;
}

.card__content {
    width: 100%;
    height: 100%;
}

.card_header {
    position: relative;
    padding: 30px 30px 40px;
}

.card__header:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    border-radius: 0 0 50% 0;
    background-color: var(--light);
}

.front-title-div {
    margin-left: 1rem;
    margin-bottom: -1rem;
}
.front-title {
    margin-bottom: 0;
    margin-top: 0;
}

.front-user-div {
    margin-left: 1rem;
    margin-top: -1rem;
}
.front-user {
    font-size: .75rem;
    margin: 0;
}

.front-desc-div {
    margin: 1rem;
    margin-top: -2rem;

}
.front-desc {
    margin: 0;
}