/* 
LOGO - font-family: 'Caveat', cursive;
HEADINGS - font-family: 'Poppins', sans-serif;
SUBHEADINGS - font-family: 'Montserrat', sans-serif;
BODY TEXT - font-family: 'Roboto', sans-serif; 
*/

/* 
#F06060 - Logo
#F3B462 - Light Orange
#F2EBC0 - Background
#8DBFB3 - Pale Blue
#5D4C52 - PurpleBlack
*/
body {
    width: 55%;
    margin: 0 auto;
    background-color: #fbf8ea;
}
main {
    margin-bottom: 1rem;
    min-height: 67vh;
}
h1 {
    font-family: 'Poppins', sans-serif;
}
.header-h1 {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    text-align: center;
    color: #F06060;
    text-decoration: none;
}
h2, h3, h4 {
    font-family: 'Montserrat', sans-serif; 
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

p, li {
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    flex-direction: row;
    gap: var(--gap, 1rem);
    justify-content: space-between;
}

.primary-navigation {
    display: flex;
    flex-direction: row;
    gap: var(--gap, 1rem);
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;  
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
}
.nav-icon {
    max-width: 2rem;
    width: 100%;
    max-height: 2rem;
    min-width: 1rem;
    min-height: 1rem;
}

.header-h1 {
    min-width: 290px;
}

hr {
    border-color: #F3B462;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #8DBFB3 transparent #8DBFB3 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}
.spinner-text {
    width: 100%;
    font-size: 2rem;
    text-align: center;
    color: #8DBFB3;
    position: fixed;
    top: 47.5%;
    z-index: 2;
}

.loader-container {
    width: 100vw;
    height: 100vh;
    margin: auto;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.75);
    z-index: 1;
    top: 0;
    left: 0;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.card, .cookbook-card {
    margin: 25px auto 25px;
    width: 400px;
    height: 600px;
    perspective: 1000px;
}
.close-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    font-weight: bolder;
    color: #000;
}
.mySlides {
    cursor: pointer;
}
.card__inner {
    width: 100%;
    height: 100%;
    transition: transform 1s;
    transform-style: preserve-3d;
    position: relative;
}

.card__inner.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    border-radius: 16px;
    box-shadow: 0px 3px 18px 3px rgba(0, 0, 0, 0.2);
}

.card__face--front {
    background-color: var(--light);
    display: flex;
    flex-direction: column;
    max-height: 600px;
}
.card__face--back {
    background-color: var(--light);
    transform: rotateY(180deg);
    overflow: scroll;
    display: flex;
    flex-direction: column;
}
.front-title-div {
    padding: .5rem 1rem;
    text-align: left;
    display: grid;
    grid-template-columns: 3fr 2fr;
    padding-bottom: .25rem;
    align-items: center;
}
.view-title-div {
    grid-column: 1/3;
}
.card-user-info {
    display: flex;
    align-items: center;
}
.user {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.follow-btn {
    width: 80%;
    height: 50%;
    margin: 0 auto;
}
.review-save {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
}
.addRecipe-btn {
    width: 100%;
}
.card-profile-pic {
    width: auto;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}
.profile-header {
    width: 80%;
    margin: 0 auto;
}
.user-intro {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.follower-card {
    display: flex;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}
.follower-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.user-profile-pic {
    width: auto;
    height: 75px;
    border-radius: 50%;
    margin-right: 10px; 
}
.buttons {
    margin-top: .5rem;
    display: flex;
    align-items: left;
    gap: 1rem;
}
.user-intro h1,
.user-intro h3 {
    margin: 0;
}

.front-desc-div {
    margin: .25rem auto;
    position: relative;
}
.front-desc {
    margin: .25rem;
}

.front-title {
    margin-bottom: 0;
    margin-top: 0;
    grid-column: 1/3;
    font-size: 1.25rem;
}

.front-review {
    margin: 0;
    padding: 4px 0;
    text-align: right;
    grid-column: 2;
    width: 100%;
}
.front-user {
    margin: 0;
}
.media-text {
    text-align: center;
    position: absolute;
    top: 75%;
    left: 0;
    width: 100%;
    transform: translateY(-70%);
}

.recipe-img, .cookbook-img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* Back of Recipe Card */
.card_header {
    height: 95%;
    margin-right: 5%;
    padding: 1rem;
    padding-bottom: 0;
}
.back-title {
    margin: 0;
}
.recipe-desc {
    margin: 0;
    padding-top: .5rem;
}
.card_body {
    height: fit-content;
    padding: 0 1rem;
    padding-top: 0;
}
.back_buttons {
    height: fit-content;
    padding: 1rem;
    padding-top: 0;
}

.form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
fieldset {
    margin: 0 auto;
    display: flex;
    flex-direction: column;

}
#imageContainer {
    margin: 0 auto;
    text-align: center;
}
/* Footer */
footer {
    width: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #5D4C52;
    color: #fbf8ea;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}
footer div {
    padding: 1rem;
}
#footer-links {
    display: flex;
    flex-direction: column;
}
#footer-links a {
    text-decoration: underline;
    color: #fbf8ea;
}
/* Search Bar */
.search-container {
    position: relative;
    display: inline-block;
}

.searchInput {
    width: calc(100% - 32px);
    height: 2rem;
    border-radius: 1rem;
    padding-left: 32px;
}

.search-button {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
    width: 24px;
    height: auto;
    cursor: pointer;
}
.hiddenForm {
    display: none;
}
/* Cookbook Form */

.cookBook-Info {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 350px;
    height: 30%;
    background: white;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display_fol_cards {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    z-index: 999;
    width: 370px;
    height: 600px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}
.overlay_follow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
}

/* Slide Show */
* {box-sizing:border-box}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    width: 100%;
    max-width: 400px;
}
  
  .slideImg {
    display: block;
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 400px;
    margin: 0 auto;
}
  
.mySlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 15%;
  margin-top: -22px;
  padding: 16px;
  color: rgb(59, 57, 57);
  background-color: rgba(189, 188, 188, 0.329);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
  user-select: none;
  
}
.prev {
  left: 0;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: black;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.numbertext {
  color: black;
  background-color: #fbf8ea;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 1;
  right: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: .25rem 2px;
  margin-bottom: 0;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.activeSlide, .dot:hover {
  background-color: #252222;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

textarea {
    width: 100%;
    height: 6rem;
    resize: vertical;
}

.recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.view-title {
    grid-column: 1/3;
}
.view-comments, .view-reviews {
    grid-column: 1/3;
}
.recipe-info {
    grid-column: 1/3;
}
.slideshow-container {
    grid-column: 1/3;
}
.viewImg {
    cursor: default;
}

.profile_feed, .cookbook_feed {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: .5rem;
}

.cookbook-card {
    margin: 1rem auto;
    border: 1px solid;
    text-align: center;
    background-color: white;
}
.cookbook-card h1 {
    margin-bottom: 0;
}
.cookbook-card p {
    margin-top: 0;
}
.cookbook-card {
    height: fit-content;
}
table {
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

.no-scroll {
    overflow: hidden;
}

.behind-overlay {
    z-index: 1;
}

.hidden {
    display: none;
}