@media (max-width: 1200px) {
    body {
        width: 90%;
        margin: 0 5%;
    }
    header {
        display: flex;
        flex-direction: column;
        gap: var(--gap, 1rem);
        width: 100%;
    }
    header h1 {
        margin-bottom: 0;
    }
    .primary-navigation {
        flex-direction: row;
        justify-content: space-evenly;
    }
    .card {
        margin: 25px auto 25px;
        width: 100%;
        max-width: 375px;
        height: 600px;
        perspective: 1000px;
    }
    .recipe-img {
        width: auto;
        max-width: 375px;
        height: auto;
        max-height: 375px;
        z-index: 10;
    }
    .profile_feed, .cookbook_feed {
        display: grid;
        grid-template-columns: 1fr;
    }
    .notifications {
        right: 33vw;
        top: 23vh;
    }
    .training {
        display: grid;
        grid-template-columns: 1fr;
    }
    .training h2 {
        grid-column: 1;
    }
    .hidden {
        display: none;
    }
}