@media (max-width: 500px) {
    body {
        width: 98%;
        margin: 0 1%;
    }

    .card {
        margin: 25px auto 25px;
        width: 100%;
        max-width: 375px;
        min-width: 300px;
        height: 600px;
        perspective: 1000px;
    }
    .card img {
        width: 375px;
    }
    .primary-navigation {
        flex-direction: row; 
    }
    header {
        width: 100%;
    }
}