@media (max-width: 500px) {
    body {
        width: 98%;
        margin: 0 1%;
    }

    .card, .cookbook-card {
        margin: 25px auto 25px;
        width: 100%;
        max-width: 375px;
        min-width: 300px;
        height: 600px;
        perspective: 1000px;
    }
    .cookbook-card {
        height: 500px;
    }
    .slideshow-container {
        position: relative;
        margin: auto;
        width: 100%;
        max-width: 375px;
        z-index: 10;
    }
    .slideImg {
        width: auto;
        height: auto;
        max-height: 375px;
        max-width: 375px;
        z-index: 10;
    }
    .cookbook-img {
        width: auto;
        height: auto;
        max-height: 360px;
        max-width: 360px;
        z-index: 10;
    }
    .primary-navigation {
        flex-direction: row; 
    }
    header {
        width: 100%;
    }
}