/* 
LOGO - font-family: 'Caveat', cursive;
HEADINGS - font-family: 'Poppins', sans-serif;
SUBHEADINGS - font-family: 'Montserrat', sans-serif;
BODY TEXT - font-family: 'Roboto', sans-serif; 
*/

body {
    width: 55%;
    margin: auto;
}

header > h1 {
    font-family: 'Caveat', cursive;
    font-size: 4rem;
    text-align: center;
}